includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/ArchTest.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Access to an undefined property Pest\\PendingCalls\\TestCall::\$processor#'
            path: tests/VectorProcessorTest.php
